# Ignore compiled executables
*.exe
goa

# Ignore build directories
bin/
build/

# Ignore object files and libraries
*.o
*.a
*.so
*.dylib
*.dll
*.csv

# Ignore other build artifacts
*.out
*.log

# Ignore ros2 build directories
visualizerPkg/build
visualizerPkg/install
visualizerPkg/log
